{% extends "base.html" %}

{% block title %}免許種別マスタ{% endblock %}

{% block content %}

<div class="page-header">
    <h2>免許種別マスタ</h2>

    <div class="header-actions">
        <a href="/master" class="btn btn-back">
            ← マスタ管理へ戻る
        </a>

        <a href="/master/license-types/new" class="btn">
            新規登録
        </a>
    </div>
</div>

<table>
    <tr>
        <th>免許種別</th>
        <th style="width:180px;">操作</th>
    </tr>

    {% for item in license_types %}
    <tr>
        <td>{{ item.name }}</td>

        <td class="action-cell">
            <div class="action-buttons">

                <a
                    href="/master/license-types/{{ item.id }}/edit"
                    class="btn-small btn-edit"
                >
                    編集
                </a>

                <form
                    method="post"
                    action="/master/license-types/{{ item.id }}/delete"
                    onsubmit="return confirm('削除しますか？');"
                >
                    <button
                        type="submit"
                        class="btn-small btn-delete"
                    >
                        削除
                    </button>
                </form>

            </div>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}