{% extends "base.html" %}

{% block title %}マスタ管理{% endblock %}

{% block content %}

<h2>マスタ管理</h2>

<div class="master-menu">

    <a href="/master/offices" class="menu-card">
        <h3>営業所マスタ</h3>
    </a>

    <a href="/master/drivers" class="menu-card">
        <h3>ドライバーマスタ</h3>
    </a>

    <a href="/master/vehicles" class="menu-card">
        <h3>車両マスタ</h3>
    </a>

    <a href="/master/manuals" class="menu-card">
        <h3>マニュアルマスタ</h3>
    </a>

    <a href="/master/checklists" class="menu-card">
        <h3>チェックリストマスタ</h3>
    </a>

</div>

{% endblock %}