{% extends "base.html" %}

{% block title %}
    {% if mode == "edit" %}
        営業所編集
    {% else %}
        営業所登録
    {% endif %}
{% endblock %}

{% block content %}

<div class="page-header">

    <h2>
        {% if mode == "edit" %}
            営業所編集
        {% else %}
            営業所登録
        {% endif %}
    </h2>

    <div class="header-actions">
        <a href="/master/offices" class="btn btn-back">
            ← 一覧へ戻る
        </a>
    </div>

</div>

<div class="card">
    <form method="post">

        <label>営業所名</label>
        <input
            type="text"
            name="name"
            value="{{ office.name if office else '' }}"
            required
        >

        <button type="submit" class="btn">
            {% if mode == "edit" %}
                更新
            {% else %}
                登録
            {% endif %}
        </button>

    </form>
</div>


{% endblock %}