{% extends "base.html" %}

{% block title %}
    {% if mode == "edit" %}
        車種編集
    {% else %}
        車種登録
    {% endif %}
{% endblock %}

{% block content %}

<div class="page-header">
    <h2>
        {% if mode == "edit" %}
            車種編集
        {% else %}
            車種登録
        {% endif %}
    </h2>

    <div class="header-actions">
        <a href="/master/vehicle-types" class="btn btn-back">
            ← 一覧へ戻る
        </a>
    </div>
</div>

<div class="card">
    <form method="post">

        <label>車種名</label>

        <input
            type="text"
            name="name"
            value="{{ vehicle_type.name if vehicle_type else '' }}"
            required
        >

        <button type="submit" class="btn">
            {% if mode == "edit" %}
                更新
            {% else %}
                登録
            {% endif %}
        </button>

    </form>
</div>

{% endblock %}